name: "Run tests"

on:
  push:
    branches: [ master, main ]
  pull_request:
    branches: [ master, main ]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: ["macos-latest"]

    steps:
    - name: checkout
      uses: actions/checkout@v5

    - name: setup uv
      uses: astral-sh/setup-uv@v7
      with:
        python-version: 3.12
        enable-cache: true

    - name: Install dependencies
      run: |
        uv sync --dev --locked

    - name: Create datadir
      run: |
        mkdir -p data/raw data/processed

    - name: Get data
      run: |
        uv run gdown --folder 'https://drive.google.com/drive/folders/1ddWeCcsfmelqxF8sOGBihY9IU98S9JRP?usp=sharing' -O data/raw

    - name: Preprocess data
      run: |
        uv run python -m src.my_project.data data/raw data/processed

    - name: Test with pytest
      run: |
        uv run pytest -v